<?xml version="1.0"?>
<!DOCTYPE CodeBlocks_template_file>
<CodeBlocks_template_file>
		<Template name="QTapp" title="QT Application" category="GUI" bitmap="qtlogo32.png">
		<FileSet name="s" title="Default">
			<File source="qt-main.cpp" destination="main.cpp"/>
		</FileSet>
		<Option name="QT Application">
			<Project file="qt.cbp"/>
		</Option>
	</Template>
</CodeBlocks_template_file>
