<?xml version="1.0"?>
<!DOCTYPE Code::Blocks_template_file>
<Code::Blocks_template_file>
	<Template name="SDCCApp" title="SDCC Application" category="GUI" bitmap="sdccapp.png">
		<FileSet name="s" title="Default">
			<File source="sdccapp-main.c" destination="main.c"/>
		</FileSet>
		<Option name="SDCC Application">
			<Project file="sdccapp.cbp"/>
		</Option>
	</Template>
</Code::Blocks_template_file>
