.objs*
/src/devel*
/src/output*
debug
release
*.gch
*.layout
*.depend
*.patch
lib
autorevision.h
*.a
*.exe
autorevision
cb_console_runner
cb_console_runner29
*.bmarks
Makefile.in
/build*
/configure
/aclocal.m4
/.last_revision
/autom4te.cache
/install-sh
/ltmain.sh
/missing
/revision.m4
/depcomp
*build_log.html
/src/include/config.h.in
*cscope_file_list
/config.guess
/config.sub
