<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="MainFrame">
		<title>Welcome to Code::Blocks Share Config</title>
		<centered>1</centered>
		<bg>wxSYS_COLOUR_BTNFACE</bg>
		<minsize>640,480</minsize>
		<style>wxCAPTION|wxDEFAULT_DIALOG_STYLE|wxSYSTEM_MENU|wxRESIZE_BORDER|wxCLOSE_BOX|wxMINIMIZE_BOX</style>
		<object class="wxBoxSizer" variable="bszMain" member="yes">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="bszSteps" member="yes">
					<object class="sizeritem">
						<object class="wxStaticBoxSizer" variable="sbsSteps" member="yes">
							<label>Steps to do:</label>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_LBL_STEPS" variable="lblSteps" member="yes">
									<label>- make sure C::B is *not* running&#x0A;- select the C::B source configuration file on the left&#x0A;- select the C::B destination configuration file on the right&#x0A;- select the sections you would like to transfer&#x0A;- verify again and do the transfer&#x0A;- save the modified (right) configuration</label>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxGridSizer" variable="grsFileLabel" member="yes">
					<cols>2</cols>
					<rows>1</rows>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_LBL_FILE_SRC" variable="lblFileSrc" member="yes">
							<label>Source configuration file:</label>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_LBL_FILE_DST" variable="lblFileDst" member="yes">
							<label>Destination configuration file:</label>
						</object>
						<flag>wxLEFT|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
						<border>5</border>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxGridSizer" variable="grsFile" member="yes">
					<cols>2</cols>
					<rows>1</rows>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="flsFileSrc" member="yes">
							<cols>2</cols>
							<rows>1</rows>
							<growablecols>0</growablecols>
							<object class="sizeritem">
								<object class="wxTextCtrl" name="ID_TXT_FILE_SRC" variable="txtFileSrc" member="yes">
									<style>wxTE_READONLY</style>
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
							</object>
							<object class="sizeritem">
								<object class="wxButton" name="ID_BTN_FILE_SRC" variable="btnFileSrc" member="yes">
									<label>...</label>
									<size>32,-1</size>
									<tooltip>Select the source C::B configuration file.</tooltip>
									<handler function="OnBtnFileSrcClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxLEFT|wxALIGN_RIGHT|wxALIGN_TOP</flag>
								<border>5</border>
							</object>
						</object>
						<flag>wxRIGHT|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="flsFileDst" member="yes">
							<cols>2</cols>
							<rows>1</rows>
							<growablecols>0</growablecols>
							<object class="sizeritem">
								<object class="wxTextCtrl" name="ID_TXT_FILE_DST" variable="txtFileDst" member="yes">
									<style>wxTE_READONLY</style>
								</object>
								<flag>wxLEFT|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
							</object>
							<object class="sizeritem">
								<object class="wxButton" name="ID_BTN_FILE_DST" variable="btnFileDst" member="yes">
									<label>...</label>
									<size>32,-1</size>
									<tooltip>Select the destination C::B configuration file.</tooltip>
									<handler function="OnBtnFileDstClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxLEFT|wxALIGN_RIGHT|wxALIGN_TOP</flag>
								<border>5</border>
							</object>
						</object>
						<flag>wxLEFT|wxEXPAND|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxGridSizer" variable="grsCfg" member="yes">
					<cols>2</cols>
					<rows>1</rows>
					<object class="sizeritem">
						<object class="wxCheckListBox" name="ID_CFG_SRC" variable="clbCfgSrc" member="yes" />
						<flag>wxRIGHT|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxListBox" name="ID_LST_CFG" variable="lstCfgDst" member="yes" />
						<flag>wxLEFT|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
						<border>5</border>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxGridSizer" variable="grsAction" member="yes">
					<cols>8</cols>
					<rows>1</rows>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BTN_TRANSFER" variable="btnTransfer" member="yes">
							<label>Transfer &gt;&gt;</label>
							<tooltip>Transfer the selection on the left to right.</tooltip>
							<handler function="OnBtnTransferClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALIGN_LEFT|wxALIGN_TOP</flag>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BTN_UNCHECK" variable="btnUncheck" member="yes">
							<label>Uncheck all</label>
							<handler function="OnBtnUncheckClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALIGN_LEFT|wxALIGN_TOP</flag>
					</object>
					<object class="spacer">
						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BTN_EXPORT" variable="btnExport" member="yes">
							<label>Export</label>
							<tooltip>Export the selection on the left to a C::B config backup file.</tooltip>
							<handler function="OnBtnExportClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALIGN_LEFT|wxALIGN_TOP</flag>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BTN_SAVE" variable="btnSave" member="yes">
							<label>Save</label>
							<tooltip>Save the selection on the right into the C::B destination config file.</tooltip>
							<handler function="OnBtnSaveClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxLEFT|wxALIGN_LEFT|wxALIGN_TOP</flag>
						<border>5</border>
					</object>
					<object class="spacer">
						<flag>wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
						<option>1</option>
					</object>
					<object class="spacer">
						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BTN_CLOSE" variable="btnClose" member="yes">
							<label>Close</label>
							<tooltip>Close the application.</tooltip>
							<handler function="OnBtnCloseClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALIGN_RIGHT|wxALIGN_TOP</flag>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
				<border>5</border>
			</object>
		</object>
	</object>
</wxsmith>
