<Code::Blocks_template_file>
	<Template name="dll" title="Dynamic Link Library" category="Dynamic Library" bitmap="dll.png">
		<FileSet name="c" title="C source">
			<File source="dll-main.cpp" destination="main.cpp"/>
		</FileSet>
		<Option name="DLL Sample">
			<Project file="dll.cbp"/>
		</Option>
	</Template>
</Code::Blocks_template_file>
