// Keep this in alphabetical order to ease identification of image indices!
// After a change in this file probably image indices have to be adopted.
// -> Adopt e.g. associations.cpp accordingly (indices start at 0).
A_MAIN_ICON      ICON "src/resources/icons/app.ico"
PROJECT_FILE     ICON "src/resources/icons/cbp.ico"
SOURCE_FILE_ASM  ICON "src/resources/icons/asm.ico"
SOURCE_FILE_C    ICON "src/resources/icons/c.ico"
SOURCE_FILE_CPP  ICON "src/resources/icons/cpp.ico"
SOURCE_FILE_H    ICON "src/resources/icons/h.ico"
SOURCE_FILE_JAVA ICON "src/resources/icons/j.ico"
SOURCE_FILE_X_CG ICON "src/resources/icons/cg.ico"
SOURCE_FILE_X_D  ICON "src/resources/icons/d.ico"
SOURCE_FILE_X_F  ICON "src/resources/icons/f.ico"
SOURCE_FILE_X_RC ICON "src/resources/icons/rc.ico"
WORKSPACE_FILE   ICON "src/resources/icons/csd.ico"
// WXICON_AAA
// WXICON_SMALL_CDROM
// WXICON_SMALL_CLOSED_FOLDER
// WXICON_SMALL_COMPUTER
// WXICON_SMALL_DRIVE
// WXICON_SMALL_FILE
// WXICON_SMALL_FLOPPY
// WXICON_SMALL_OPEN_FOLDER
// WXICON_SMALL_REMOVABLE
X_PRJ_FILE_DEV   ICON "src/resources/icons/dev.ico"
X_PRJ_FILE_DSP   ICON "src/resources/icons/dsp.ico"
X_PRJ_FILE_DSW   ICON "src/resources/icons/dsw.ico"
X_PRJ_FILE_PROJ  ICON "src/resources/icons/proj.ico"

// wxBITMAP_STD_COLOURS    BITMAP "wx/msw/colours.bmp"
// is the only thing needed from:
//#include <wx/msw/wx.rc>
// additional icons contributed due to this include are commented above

#include <windows.h>
#include <wx/msw/rcdefs.h>

///////////////////////////////////////////////////////////////////////////////
// Specify the processor archtecture (wxWidgets seems not to do this correctly)
#if defined   _M_AMD64
  #if !defined WX_CPU_AMD64
    #define WX_CPU_AMD64
  #endif
#elif defined _M_IA64
  #if !defined WX_CPU_IA64
    #define WX_CPU_IA64
  #endif
#elif defined _M_IX86 || defined _X86_
  #if !defined WX_CPU_X86
    #define WX_CPU_X86
  #endif
#endif

///////////////////////////////////////////////////////////////////////////////
// Manifest file
#if !defined(wxUSE_NO_MANIFEST) || (wxUSE_NO_MANIFEST == 0)
  // see "about isolated applications" topic in MSDN
  #ifndef wxMANIFEST_ID
    #ifdef ISOLATION_AWARE_ENABLED
      #define wxMANIFEST_ID ISOLATIONAWARE_MANIFEST_RESOURCE_ID
    #else
      #define wxMANIFEST_ID CREATEPROCESS_MANIFEST_RESOURCE_ID
    #endif
  #endif
/*
  #if defined(WX_CPU_AMD64)
    wxMANIFEST_ID RT_MANIFEST "amd64.manifest"
  #elif defined(WX_CPU_IA64)
    wxMANIFEST_ID RT_MANIFEST "ia64.manifest"
  #elif defined(WX_CPU_X86)
    wxMANIFEST_ID RT_MANIFEST "x86.manifest"
  #else
    #warning No platform defined! Unable to embed manifest file.
  #endif
*/
#endif // !defined(wxUSE_NO_MANIFEST) || (wxUSE_NO_MANIFEST == 0)
