<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
    <object class="wxPanel" name="CompilerPanel">
        <style>wxTAB_TRAVERSAL</style>
        <object class="wxBoxSizer" variable="BoxSizer1" member="no">
            <orient>wxVERTICAL</orient>
            <object class="sizeritem">
                <border>8</border>
                <flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP|wxEXPAND</flag>
                <object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
                    <label>Please select the compiler to use and which configurations&#x0A;you want enabled in your project.</label>
                </object>
            </object>
            <object class="sizeritem">
                <border>8</border>
                <flag>wxLEFT|wxRIGHT|wxTOP|wxALIGN_LEFT|wxALIGN_TOP|wxEXPAND</flag>
                <object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="no">
                    <label>Compiler:</label>
                </object>
            </object>
            <object class="sizeritem">
                <border>8</border>
                <flag>wxLEFT|wxRIGHT|wxBOTTOM|wxALIGN_LEFT|wxALIGN_TOP|wxEXPAND</flag>
                <object class="wxComboBox" name="ID_COMBOBOX1" variable="cmbCompiler" member="yes">
                    <style>wxCB_SIMPLE|wxCB_READONLY</style>
                </object>
            </object>
            <object class="sizeritem">
                <border>8</border>
                <flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP|wxEXPAND</flag>
                <object class="wxBoxSizer" variable="BoxSizer4" member="yes">
                    <orient>wxHORIZONTAL</orient>
                    <object class="sizeritem">
                        <border>5</border>
                        <flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
                        <object class="wxCheckBox" name="ID_CHECKBOX1" variable="chkConfDebug" member="yes">
                            <label>Create &quot;Debug&quot; configuration:</label>
                            <checked>1</checked>
                            <handler entry="EVT_CHECKBOX" function="OnDebugChange" />
                        </object>
                    </object>
                    <object class="sizeritem">
                        <option>1</option>
                        <border>4</border>
                        <flag>wxLEFT|wxALIGN_CENTER</flag>
                        <object class="wxTextCtrl" name="ID_TEXTCTRL3" variable="txtDbgName" member="yes">
                            <value></value>
                        </object>
                    </object>
                </object>
            </object>
            <object class="sizeritem">
                <border>8</border>
                <flag>wxLEFT|wxRIGHT|wxBOTTOM|wxALIGN_LEFT|wxALIGN_TOP|wxEXPAND</flag>
                <object class="wxBoxSizer" variable="BoxSizer2" member="no">
                    <orient>wxHORIZONTAL</orient>
                    <object class="spacer">
                        <size>16,-1</size>
                        <border>5</border>
                        <flag>wxALIGN_LEFT|wxALIGN_TOP</flag>
                    </object>
                    <object class="sizeritem">
                        <option>1</option>
                        <border>5</border>
                        <flag>wxALIGN_LEFT|wxALIGN_TOP</flag>
                        <object class="wxStaticBoxSizer" variable="StaticBoxSizer1" member="yes">
                            <orient>wxHORIZONTAL</orient>
                            <label>&quot;Debug&quot; options</label>
                            <object class="sizeritem">
                                <option>1</option>
                                <border>5</border>
                                <flag>wxALIGN_CENTER|wxEXPAND</flag>
                                <object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
                                    <rows>0</rows>
                                    <cols>2</cols>
                                    <vgap>5</vgap>
                                    <hgap>5</hgap>
                                    <growablecols>1</growablecols>
                                    <object class="sizeritem">
                                        <option>1</option>
                                        <border>5</border>
                                        <flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
                                        <object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="no">
                                            <label>Output dir.:</label>
                                        </object>
                                    </object>
                                    <object class="sizeritem">
                                        <option>1</option>
                                        <border>5</border>
                                        <flag>wxALIGN_LEFT|wxALIGN_TOP|wxEXPAND</flag>
                                        <object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="txtDbgOut" member="yes">
                                            <value></value>
                                        </object>
                                    </object>
                                    <object class="sizeritem">
                                        <option>1</option>
                                        <border>5</border>
                                        <flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
                                        <object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="no">
                                            <label>Objects output dir.:</label>
                                        </object>
                                    </object>
                                    <object class="sizeritem">
                                        <option>1</option>
                                        <border>5</border>
                                        <flag>wxALIGN_LEFT|wxALIGN_TOP|wxEXPAND</flag>
                                        <object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="txtDbgObjOut" member="yes">
                                            <value></value>
                                        </object>
                                    </object>
                                </object>
                            </object>
                        </object>
                    </object>
                </object>
            </object>
            <object class="sizeritem">
                <border>8</border>
                <flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP|wxEXPAND</flag>
                <object class="wxBoxSizer" variable="BoxSizer5" member="yes">
                    <orient>wxHORIZONTAL</orient>
                    <object class="sizeritem">
                        <border>5</border>
                        <flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
                        <object class="wxCheckBox" name="ID_CHECKBOX3" variable="chkConfRelease" member="yes">
                            <label>Create &quot;Release&quot; configuration:</label>
                            <checked>1</checked>
                            <handler entry="EVT_CHECKBOX" function="OnReleaseChange" />
                        </object>
                    </object>
                    <object class="sizeritem">
                        <option>1</option>
                        <border>4</border>
                        <flag>wxLEFT|wxALIGN_CENTER</flag>
                        <object class="wxTextCtrl" name="ID_TEXTCTRL4" variable="txtRelName" member="yes">
                            <value></value>
                        </object>
                    </object>
                </object>
            </object>
            <object class="sizeritem">
                <border>8</border>
                <flag>wxLEFT|wxRIGHT|wxBOTTOM|wxALIGN_CENTER|wxEXPAND</flag>
                <object class="wxBoxSizer" variable="BoxSizer3" member="no">
                    <orient>wxHORIZONTAL</orient>
                    <object class="spacer">
                        <size>16,-1</size>
                        <border>5</border>
                        <flag>wxALIGN_LEFT|wxALIGN_TOP</flag>
                    </object>
                    <object class="sizeritem">
                        <option>1</option>
                        <border>5</border>
                        <flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
                        <object class="wxStaticBoxSizer" variable="StaticBoxSizer2" member="yes">
                            <orient>wxHORIZONTAL</orient>
                            <label>&quot;Release&quot; options</label>
                            <object class="sizeritem">
                                <option>1</option>
                                <border>5</border>
                                <flag>wxALIGN_CENTER|wxEXPAND</flag>
                                <object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
                                    <rows>0</rows>
                                    <cols>2</cols>
                                    <vgap>5</vgap>
                                    <hgap>5</hgap>
                                    <growablecols>1</growablecols>
                                    <object class="sizeritem">
                                        <option>1</option>
                                        <border>5</border>
                                        <flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
                                        <object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticText7" member="no">
                                            <label>Output dir.:</label>
                                        </object>
                                    </object>
                                    <object class="sizeritem">
                                        <option>1</option>
                                        <border>5</border>
                                        <flag>wxALIGN_LEFT|wxALIGN_TOP|wxEXPAND</flag>
                                        <object class="wxTextCtrl" name="ID_TEXTCTRL5" variable="txtRelOut" member="yes">
                                            <value></value>
                                        </object>
                                    </object>
                                    <object class="sizeritem">
                                        <option>1</option>
                                        <border>5</border>
                                        <flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
                                        <object class="wxStaticText" name="ID_STATICTEXT8" variable="StaticText8" member="no">
                                            <label>Objects output dir.:</label>
                                        </object>
                                    </object>
                                    <object class="sizeritem">
                                        <option>1</option>
                                        <border>5</border>
                                        <flag>wxALIGN_LEFT|wxALIGN_TOP|wxEXPAND</flag>
                                        <object class="wxTextCtrl" name="ID_TEXTCTRL6" variable="txtRelObjOut" member="yes">
                                            <value></value>
                                        </object>
                                    </object>
                                </object>
                            </object>
                        </object>
                    </object>
                </object>
            </object>
        </object>
    </object>
</wxsmith>
