<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxScrollingDialog" name="DataBreakpointDlg">
		<title>Data breakpoint</title>
		<centered>1</centered>
		<id_arg>0</id_arg>
		<object class="wxBoxSizer" variable="bszMain" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxCheckBox" name="ID_CHK_ENABLED" variable="m_enabled" member="yes">
					<label>Enabled</label>
				</object>
				<flag>wxTOP|wxLEFT|wxRIGHT|wxEXPAND</flag>
				<border>8</border>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="ID_TXT_DATA_EXPRESION" variable="m_dataExpression" member="yes">
					<size>265,23</size>
					<focused>1</focused>
					<style>wxTE_PROCESS_ENTER</style>
				</object>
				<flag>wxTOP|wxLEFT|wxRIGHT|wxEXPAND</flag>
				<border>8</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxRadioBox" name="ID_RDO_CONDITION" variable="m_condition" member="yes">
					<label>Condition</label>
					<content>
						<item>Break on read</item>
						<item>Break on write</item>
						<item>Break on read or write</item>
					</content>
					<default>-1</default>
				</object>
				<flag>wxTOP|wxLEFT|wxRIGHT|wxEXPAND</flag>
				<border>8</border>
			</object>
			<object class="sizeritem">
				<object class="wxStdDialogButtonSizer" variable="StdDialogButtonSizer1" member="yes">
					<object class="button">
						<object class="wxButton" name="wxID_OK">
							<label></label>
						</object>
					</object>
					<object class="button">
						<object class="wxButton" name="wxID_CANCEL">
							<label></label>
						</object>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL</flag>
				<border>8</border>
			</object>
		</object>
	</object>
</wxsmith>
