<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="EditProjectGlobsDlg">
		<id_arg>0</id_arg>
		<style>wxDEFAULT_DIALOG_STYLE|wxRESIZE_BORDER</style>
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxGridBagSizer" variable="GridBagSizer1" member="no">
					<vgap>5</vgap>
					<hgap>5</hgap>
					<growablecols>1</growablecols>
					<object class="sizeritem">
						<object class="wxStaticText" name="wxID_ANY" variable="StaticText1" member="no">
							<label>Path:</label>
						</object>
						<col>0</col>
						<row>0</row>
						<flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="ID_TEXTCTRL_PATH" variable="m_TextPath" member="yes">
							<minsize>400,-1</minsize>
						</object>
						<col>1</col>
						<row>0</row>
						<flag>wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_BTN_BROWSE" variable="btnBrowse" member="no">
							<bitmap stock_id="wxART_FILE_OPEN" />
							<handler function="OnBrowseClick" entry="EVT_BUTTON" />
						</object>
						<col>2</col>
						<row>0</row>
						<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_BTN_OTHER" variable="btnOther" member="no">
							<bitmap stock_id="wxART_EXECUTABLE_FILE" />
							<handler function="OnOtherClick" entry="EVT_BUTTON" />
						</object>
						<col>3</col>
						<row>0</row>
						<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="ID_TEXTCTRL_WILDCART" variable="m_TextWildcart" member="yes" />
						<col>1</col>
						<row>1</row>
						<flag>wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHECK_RECURSIVE" variable="m_CheckRecursive" member="yes">
							<label>Recursive</label>
						</object>
						<colspan>3</colspan>
						<col>1</col>
						<row>2</row>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="wxID_ANY" variable="StaticText2" member="no">
							<label>Wildcart:</label>
						</object>
						<col>0</col>
						<row>1</row>
						<flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
			</object>
			<object class="spacer">
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStdDialogButtonSizer" variable="StdDialogButtonSizer1" member="no">
					<object class="button">
						<object class="wxButton" name="wxID_OK">
							<label></label>
						</object>
					</object>
					<object class="button">
						<object class="wxButton" name="wxID_CANCEL">
							<label></label>
						</object>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
			</object>
		</object>
	</object>
</wxsmith>
