<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="GotoFile">
		<id_arg>0</id_arg>
		<style>wxDEFAULT_DIALOG_STYLE|wxRESIZE_BORDER|wxCLOSE_BOX|wxMAXIMIZE_BOX</style>
		<object class="wxBoxSizer" variable="m_sizer" member="yes">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxStaticText" name="wxID_ANY" variable="labelCtrl" member="no">
					<label>Some text</label>
				</object>
				<flag>wxTOP|wxLEFT|wxRIGHT|wxEXPAND</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="m_Text" member="yes">
					<focused>1</focused>
				</object>
				<flag>wxTOP|wxLEFT|wxRIGHT|wxEXPAND</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxListCtrl" name="ID_RESULT_LIST" subclass="IncrementalListCtrl" variable="m_ResultList" member="yes">
					<minsize>500,300</minsize>
					<style>wxLC_REPORT|wxLC_NO_HEADER|wxLC_SINGLE_SEL|wxLC_VIRTUAL|wxVSCROLL|wxHSCROLL</style>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
