<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
                      "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US">
  <head>
    <title>Exapmle</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        &nbsp;
      </div>
      <!-- end #header -->
      <div id="navigation">
        &nbsp;
      </div>
      <!-- end #navigation -->
      <div id="content">
        <p>
          Loreum ipsum.
        </p>
      </div>
      <!-- end #content -->
      <div id="footer">
        <p>
          &copy; 2006 Code::Blocks.
        </p>
      </div>
      <!-- end #footer -->
      <bad />
    </div>
  </body>
</html>
