<resource>
    <object class="wxPanel" name="InfoPanel">
        <style>wxTAB_TRAVERSAL</style>
        <object class="wxBoxSizer" variable="BoxSizer1" member="yes">
            <orient>wxVERTICAL</orient>
            <object class="sizeritem">
                <option>1</option>
                <border>8</border>
                <flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP|wxEXPAND</flag>
                <object class="wxStaticText" name="ID_STATICTEXT1" variable="lblIntro" member="yes">
                    <label>Welcome to the new console application wizard!&#x0A;&#x0A;&#x0A;&#x0A;&#x0A;&#x0A;&#x0A;&#x0A;&#x0A;&#x0A;&#x0A;&#x0A;&#x0A;&#x0A;</label>
                    <style>wxST_NO_AUTORESIZE</style>
                </object>
            </object>
            <object class="sizeritem">
                <border>8</border>
                <flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP|wxEXPAND</flag>
                <object class="wxCheckBox" name="ID_CHECKBOX1" variable="chkSkip" member="yes">
                    <label>Skip this page next time</label>
                </object>
            </object>
        </object>
    </object>
</resource>
