<resource>
    <object class="wxDialog" name="RegExDlg">
        <title>Regular expressions testbed</title>
        <handler entry="EVT_INIT_DIALOG" function="OnInit" />
        <style>wxDEFAULT_DIALOG_STYLE</style>
        <object class="wxBoxSizer">
            <orient>wxVERTICAL</orient>
            <object class="sizeritem">
                <border>5</border>
                <flag>wxLEFT|wxRIGHT|wxTOP|wxALIGN_LEFT|wxALIGN_TOP</flag>
                <object class="wxStaticText" name="ID_LBL_REGEX" variable="lblRegEx" member="no">
                    <label>Regular expression:</label>
                </object>
            </object>
            <object class="sizeritem">
                <border>5</border>
                <flag>wxLEFT|wxRIGHT|wxBOTTOM|wxALIGN_LEFT|wxALIGN_TOP|wxEXPAND</flag>
                <object class="wxTextCtrl" name="ID_TXT_REGEX" variable="txtRegEx" member="yes">
                    <value></value>
                    <size>410,24</size>
                </object>
            </object>
            <object class="sizeritem">
                <border>5</border>
                <flag>wxLEFT|wxRIGHT|wxTOP|wxALIGN_LEFT|wxALIGN_TOP</flag>
                <object class="wxStaticText" name="ID_LBL_INPUT" variable="lblInput" member="no">
                    <label>Test input:</label>
                </object>
            </object>
            <object class="sizeritem">
                <border>5</border>
                <flag>wxLEFT|wxRIGHT|wxBOTTOM|wxALIGN_LEFT|wxALIGN_TOP|wxEXPAND</flag>
                <object class="wxTextCtrl" name="ID_TXT_INPUT" variable="txtInput" member="yes">
                    <value></value>
                    <size>410,133</size>
                    <style>wxTE_MULTILINE</style>
                </object>
            </object>
            <object class="sizeritem">
                <border>5</border>
                <flag>wxLEFT|wxRIGHT|wxTOP|wxALIGN_LEFT|wxALIGN_TOP</flag>
                <object class="wxStaticText" name="ID_LBL_OUTPUT" variable="lblOutput" member="no">
                    <label>Test output (result):</label>
                </object>
            </object>
            <object class="sizeritem">
                <border>5</border>
                <flag>wxLEFT|wxRIGHT|wxBOTTOM|wxALIGN_LEFT|wxALIGN_TOP|wxEXPAND</flag>
                <object class="wxTextCtrl" name="ID_TXT_OUTPUT" variable="txtOutput" member="yes">
                    <value></value>
                    <size>410,133</size>
                    <style>wxTE_MULTILINE|wxTE_READONLY</style>
                </object>
            </object>
            <object class="sizeritem">
                <border>5</border>
                <flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP|wxEXPAND</flag>
                <object class="wxStaticLine" name="ID_STL_LINE" variable="stlLine" member="no">
                    <size>10,-1</size>
                </object>
            </object>
            <object class="sizeritem">
                <border>5</border>
                <flag>wxALL|wxALIGN_CENTER</flag>
                <object class="wxBoxSizer">
                    <orient>wxHORIZONTAL</orient>
                    <object class="sizeritem">
                        <flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
                        <object class="wxButton" name="ID_BTN_TEXT" variable="btnTest" member="yes">
                            <label>Test</label>
                            <default>1</default>
                            <handler entry="EVT_BUTTON" function="OnTestClick" />
                        </object>
                    </object>
                    <object class="sizeritem">
                        <border>5</border>
                        <flag>wxLEFT|wxALIGN_LEFT|wxALIGN_TOP</flag>
                        <object class="wxButton" name="wxID_CANCEL" variable="btnCancel" member="yes">
                            <label>Close</label>
                        </object>
                    </object>
                </object>
            </object>
        </object>
    </object>
</resource>
