<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxScrollingDialog" name="byoGameSelect">
		<title>Select game to play</title>
		<centered>1</centered>
		<object class="wxBoxSizer" variable="BoxSizer1" member="yes">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
					<bg>#000080</bg>
					<object class="wxBoxSizer" variable="BoxSizer3" member="yes">
						<orient>wxVERTICAL</orient>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
								<label>BYO Games collection</label>
								<fg>wxSYS_COLOUR_CAPTIONTEXT</fg>
								<bg>#000080</bg>
								<font>
									<size>16</size>
									<style>italic</style>
									<underlined>1</underlined>
									<family>swiss</family>
									<face>Arial</face>
								</font>
								<style>wxALIGN_CENTRE</style>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL</flag>
							<border>4</border>
						</object>
					</object>
				</object>
				<flag>wxEXPAND</flag>
				<border>4</border>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer4" member="yes">
					<object class="sizeritem">
						<object class="wxStaticBoxSizer" variable="StaticBoxSizer1" member="yes">
							<label>Select game</label>
							<object class="sizeritem">
								<object class="wxListBox" name="ID_LISTBOX1" variable="m_GamesList" member="yes">
									<size>320,177</size>
								</object>
								<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxEXPAND</flag>
								<border>4</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxBoxSizer" variable="BoxSizer2" member="yes">
									<orient>wxVERTICAL</orient>
									<object class="sizeritem">
										<object class="wxButton" name="wxID_OK" variable="Button1" member="yes">
											<label>Play</label>
											<handler function="OnPlay" entry="EVT_BUTTON" />
										</object>
										<flag>wxBOTTOM|wxEXPAND</flag>
										<border>4</border>
									</object>
									<object class="sizeritem">
										<object class="wxStaticLine" name="ID_STATICLINE1" variable="StaticLine1" member="yes">
											<size>10,-1</size>
										</object>
										<flag>wxTOP|wxBOTTOM|wxEXPAND</flag>
										<border>4</border>
									</object>
									<object class="sizeritem">
										<object class="wxButton" name="wxID_CANCEL" variable="Button2" member="yes">
											<label>Cancel</label>
											<handler function="OnCancel" entry="EVT_BUTTON" />
										</object>
										<flag>wxTOP|wxBOTTOM|wxEXPAND</flag>
										<border>4</border>
									</object>
									<object class="spacer">
										<flag>wxEXPAND</flag>
										<border>4</border>
										<size>71,18</size>
									</object>
								</object>
								<flag>wxLEFT|wxRIGHT|wxEXPAND</flag>
								<border>4</border>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>4</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxBOTTOM|wxEXPAND</flag>
				<border>4</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
