<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxScrollingDialog" name="ProjectMissingLibs">
		<title>Missing libraries definitions</title>
		<id_arg>0</id_arg>
		<style>wxDEFAULT_DIALOG_STYLE|wxRESIZE_BORDER</style>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<growablerows>0</growablerows>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="StaticBoxSizer1" member="no">
					<label>Unknown libraries</label>
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="wxPanel" name="ID_PANEL1" variable="m_LibsBack" member="yes">
							<size>308,113</size>
							<style>wxSUNKEN_BORDER|wxTAB_TRAVERSAL</style>
							<object class="wxFlexGridSizer" variable="m_LibsContainer" member="yes">
								<cols>5</cols>
								<growablecols>0,2,4</growablecols>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="no">
										<label>Name</label>
									</object>
									<flag>wxLEFT|wxRIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticLine" name="ID_STATICLINE2" variable="StaticLine2" member="no">
										<style>wxLI_VERTICAL</style>
									</object>
									<flag>wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="no">
										<label>Scan</label>
									</object>
									<flag>wxLEFT|wxRIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticLine" name="ID_STATICLINE3" variable="StaticLine3" member="no">
										<style>wxLI_VERTICAL</style>
									</object>
									<flag>wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="no">
										<label>web</label>
									</object>
									<flag>wxLEFT|wxRIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticLine" name="ID_STATICLINE10" variable="StaticLine10" member="no" />
									<flag>wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticLine" name="ID_STATICLINE11" variable="StaticLine11" member="no" />
									<flag>wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticLine" name="ID_STATICLINE12" variable="StaticLine12" member="no" />
									<flag>wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticLine" name="ID_STATICLINE13" variable="StaticLine13" member="no" />
									<flag>wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticLine" name="ID_STATICLINE14" variable="StaticLine14" member="no" />
									<flag>wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
							<cols>2</cols>
							<vgap>5</vgap>
							<hgap>5</hgap>
							<object class="sizeritem">
								<object class="wxButton" name="ID_BUTTON1" variable="m_MissingDefsBtn" member="yes">
									<label>Download missing defs.</label>
									<handler function="OnButton1Click" entry="EVT_BUTTON" />
								</object>
								<flag>wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxButton" name="ID_BUTTON2" variable="Button1" member="yes">
									<label>Scan for selected</label>
									<handler function="OnButton1Click1" entry="EVT_BUTTON" />
								</object>
								<flag>wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="StaticBoxSizer2" member="no">
					<label>Status</label>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT4" variable="m_StatusText" member="yes">
							<label>Ready</label>
						</object>
						<flag>wxALL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
