<wxsmith>
    <object class="wxDialog" name="wxsArrayStringEditorDlg">
        <title>Edit items</title>
        <style>wxDEFAULT_DIALOG_STYLE</style>
        <object class="wxBoxSizer" variable="BoxSizer1" member="no">
            <orient>wxVERTICAL</orient>
            <object class="sizeritem">
                <option>1</option>
                <border>5</border>
                <flag>wxALL|wxALIGN_CENTER</flag>
                <object class="wxStaticBoxSizer" variable="StaticBoxSizer1" member="no">
                    <orient>wxHORIZONTAL</orient>
                    <label>Enter items (one item per line)</label>
                    <object class="sizeritem">
                        <option>1</option>
                        <border>2</border>
                        <flag>wxLEFT|wxRIGHT|wxBOTTOM|wxALIGN_CENTER</flag>
                        <object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="Items" member="yes">
                            <value />
                            <size>350,200</size>
                            <style>wxTE_MULTILINE</style>
                        </object>
                    </object>
                </object>
            </object>
            <object class="sizeritem">
                <border>5</border>
                <flag>wxLEFT|wxRIGHT|wxBOTTOM|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
                <object class="wxBoxSizer" variable="BoxSizer2" member="no">
                    <orient>wxHORIZONTAL</orient>
                    <object class="sizeritem">
                        <option>1</option>
                        <border>5</border>
                        <flag>wxLEFT|wxTOP|wxBOTTOM|wxALIGN_CENTER</flag>
                        <object class="wxButton" name="wxID_OK" variable="Button1" member="no">
                            <label>OK</label>
                            <default>1</default>
                            <handler entry="EVT_BUTTON" function="OnOK" />
                        </object>
                    </object>
                    <object class="sizeritem">
                        <option>1</option>
                        <border>5</border>
                        <flag>wxALL|wxALIGN_CENTER</flag>
                        <object class="wxButton" name="wxID_CANCEL" variable="Button2" member="no">
                            <label>Cancel</label>
                            <handler entry="EVT_BUTTON" function="OnCancel" />
                        </object>
                    </object>
                </object>
            </object>
        </object>
    </object>
</wxsmith>
