<wxsmith>
    <object class="wxDialog" name="wxsArrayStringCheckEditorDlg">
        <title>Choices:</title>
        <centered>1</centered>
        <style>wxDEFAULT_DIALOG_STYLE</style>
        <object class="wxBoxSizer" variable="BoxSizer1" member="yes">
            <orient>wxVERTICAL</orient>
            <object class="sizeritem">
                <flag>wxALIGN_CENTER|wxEXPAND</flag>
                <object class="wxBoxSizer" variable="BoxSizer2" member="yes">
                    <orient>wxHORIZONTAL</orient>
                    <object class="sizeritem">
                        <option>1</option>
                        <border>5</border>
                        <flag>wxLEFT|wxTOP|wxBOTTOM|wxALIGN_CENTER|wxEXPAND</flag>
                        <object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="EditArea" member="yes">
                            <value />
                            <handler entry="EVT_TEXT_ENTER" function="OnButton1Click" />
                        </object>
                    </object>
                    <object class="sizeritem">
                        <border>5</border>
                        <flag>wxALL|wxALIGN_CENTER</flag>
                        <object class="wxButton" name="ID_BUTTON1" variable="Button1" member="yes">
                            <label>Add</label>
                            <handler entry="EVT_BUTTON" function="OnButton1Click" />
                        </object>
                    </object>
                </object>
            </object>
            <object class="sizeritem">
                <border>5</border>
                <flag>wxLEFT|wxRIGHT|wxALIGN_CENTER|wxEXPAND</flag>
                <object class="wxStaticLine" name="ID_STATICLINE1" variable="StaticLine1" member="yes">
                    <size>10,-1</size>
                </object>
            </object>
            <object class="sizeritem">
                <option>1</option>
                <flag>wxALIGN_CENTER|wxEXPAND</flag>
                <object class="wxBoxSizer" variable="BoxSizer3" member="yes">
                    <orient>wxHORIZONTAL</orient>
                    <object class="sizeritem">
                        <option>1</option>
                        <border>5</border>
                        <flag>wxLEFT|wxTOP|wxBOTTOM|wxALIGN_CENTER|wxEXPAND</flag>
                        <object class="wxCheckListBox" name="ID_CHECKLISTBOX1" variable="StringList" member="yes">
                            <content />
                            <handler entry="EVT_CHECKLISTBOX" function="OnStringListToggled" />
                            <size>180,255</size>
                        </object>
                    </object>
                    <object class="sizeritem">
                        <flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_TOP</flag>
                        <object class="wxBoxSizer" variable="BoxSizer4" member="yes">
                            <orient>wxVERTICAL</orient>
                            <object class="sizeritem">
                                <border>5</border>
                                <flag>wxALL|wxALIGN_CENTER</flag>
                                <object class="wxButton" name="ID_BUTTON2" variable="Button2" member="yes">
                                    <label>Update</label>
                                    <handler entry="EVT_BUTTON" function="OnButton2Click" />
                                </object>
                            </object>
                            <object class="sizeritem">
                                <border>5</border>
                                <flag>wxLEFT|wxRIGHT|wxBOTTOM|wxALIGN_CENTER</flag>
                                <object class="wxButton" name="ID_BUTTON4" variable="Button4" member="yes">
                                    <label>Remove</label>
                                    <handler entry="EVT_BUTTON" function="OnButton4Click" />
                                </object>
                            </object>
                            <object class="sizeritem">
                                <border>5</border>
                                <flag>wxLEFT|wxRIGHT|wxBOTTOM|wxALIGN_CENTER</flag>
                                <object class="wxButton" name="ID_BUTTON3" variable="Button3" member="yes">
                                    <label>Up</label>
                                    <handler entry="EVT_BUTTON" function="OnButton3Click" />
                                </object>
                            </object>
                            <object class="sizeritem">
                                <border>5</border>
                                <flag>wxLEFT|wxRIGHT|wxBOTTOM|wxALIGN_CENTER</flag>
                                <object class="wxButton" name="ID_BUTTON5" variable="Button5" member="yes">
                                    <label>Down</label>
                                    <handler entry="EVT_BUTTON" function="OnButton5Click" />
                                </object>
                            </object>
                        </object>
                    </object>
                </object>
            </object>
            <object class="sizeritem">
                <border>5</border>
                <flag>wxLEFT|wxRIGHT|wxALIGN_CENTER|wxEXPAND</flag>
                <object class="wxStaticLine" name="ID_STATICLINE2" variable="StaticLine2" member="yes">
                    <size>10,-1</size>
                </object>
            </object>
            <object class="sizeritem">
                <flag>wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
                <object class="wxBoxSizer" variable="BoxSizer5" member="yes">
                    <orient>wxHORIZONTAL</orient>
                    <object class="sizeritem">
                        <option>1</option>
                        <border>5</border>
                        <flag>wxALL|wxALIGN_CENTER</flag>
                        <object class="wxButton" name="ID_BUTTON6" variable="Button6" member="yes">
                            <label>OK</label>
                            <handler entry="EVT_BUTTON" function="OnButton6Click" />
                        </object>
                    </object>
                    <object class="sizeritem">
                        <option>1</option>
                        <border>5</border>
                        <flag>wxALL|wxALIGN_CENTER</flag>
                        <object class="wxButton" name="ID_BUTTON7" variable="Button7" member="yes">
                            <label>Cancel</label>
                            <handler entry="EVT_BUTTON" function="OnButton7Click" />
                        </object>
                    </object>
                </object>
            </object>
        </object>
    </object>
</wxsmith>
