<wxsmith>
    <object class="wxDialog" name="wxsBitmapIconEditorDlg">
        <title>Image editor</title>
        <style>wxDEFAULT_DIALOG_STYLE|wxRESIZE_BORDER|wxRESIZE_BOX</style>
        <object class="wxBoxSizer" variable="BoxSizer1" member="yes">
            <orient>wxVERTICAL</orient>
            <object class="sizeritem">
                <option>1</option>
                <border>5</border>
                <flag>wxALIGN_CENTER|wxEXPAND</flag>
                <object class="wxBoxSizer" variable="BoxSizer5" member="yes">
                    <orient>wxHORIZONTAL</orient>
                    <object class="sizeritem">
                        <border>5</border>
                        <flag>wxALL|wxALIGN_CENTER|wxEXPAND</flag>
                        <object class="wxStaticBoxSizer" variable="StaticBoxSizer1" member="yes">
                            <orient>wxHORIZONTAL</orient>
                            <label>Image options</label>
                            <object class="sizeritem">
                                <option>1</option>
                                <border>5</border>
                                <flag>wxALL|wxALIGN_CENTER|wxEXPAND</flag>
                                <object class="wxFlexGridSizer" variable="FlexGridSizer1" member="yes">
                                    <rows>0</rows>
                                    <cols>1</cols>
                                    <vgap>0</vgap>
                                    <hgap>0</hgap>
                                    <growablecols>1</growablecols>
                                    <object class="sizeritem">
                                        <option>1</option>
                                        <border>5</border>
                                        <flag>wxLEFT|wxRIGHT|wxTOP|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL|wxEXPAND</flag>
                                        <object class="wxRadioButton" name="ID_RADIOBUTTON1" variable="NoImage" member="yes">
                                            <label>No image</label>
                                            <value>1</value>
                                            <handler entry="EVT_RADIOBUTTON" function="OnUpdatePreview" />
                                        </object>
                                    </object>
                                    <object class="spacer">
                                        <size>1,1</size>
                                        <option>1</option>
                                        <border>5</border>
                                        <flag>wxALL|wxALIGN_CENTER</flag>
                                    </object>
                                    <object class="sizeritem">
                                        <option>1</option>
                                        <border>5</border>
                                        <flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
                                        <object class="wxRadioButton" name="ID_RADIOBUTTON2" variable="ImageFile" member="yes">
                                            <label>Image From File:</label>
                                            <handler entry="EVT_RADIOBUTTON" function="OnUpdatePreview" />
                                        </object>
                                    </object>
                                    <object class="sizeritem">
                                        <option>1</option>
                                        <border>5</border>
                                        <flag>wxALIGN_CENTER|wxEXPAND</flag>
                                        <object class="wxBoxSizer" variable="BoxSizer2" member="yes">
                                            <orient>wxHORIZONTAL</orient>
                                            <object class="spacer">
                                                <size>20,1</size>
                                                <border>5</border>
                                                <flag>wxALL|wxALIGN_CENTER</flag>
                                            </object>
                                            <object class="sizeritem">
                                                <option>1</option>
                                                <border>5</border>
                                                <flag>wxLEFT|wxTOP|wxBOTTOM|wxALIGN_CENTER</flag>
                                                <object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="FileName" member="yes">
                                                    <value />
                                                    <handler entry="EVT_TEXT" function="OnFileNameText" />
                                                </object>
                                            </object>
                                            <object class="sizeritem">
                                                <border>5</border>
                                                <flag>wxRIGHT|wxTOP|wxBOTTOM|wxALIGN_CENTER</flag>
                                                <object class="wxButton" name="ID_BUTTON3" variable="Button3" member="yes">
                                                    <label>...</label>
                                                    <handler entry="EVT_BUTTON" function="OnButton3Click" />
                                                    <style>wxBU_EXACTFIT</style>
                                                </object>
                                            </object>
                                        </object>
                                    </object>
                                    <object class="sizeritem">
                                        <option>1</option>
                                        <border>5</border>
                                        <flag>wxLEFT|wxRIGHT|wxBOTTOM|wxALIGN_LEFT|wxALIGN_TOP</flag>
                                        <object class="wxRadioButton" name="ID_RADIOBUTTON3" variable="ImageArt" member="yes">
                                            <label>Image from wxArtProvider:</label>
                                            <handler entry="EVT_RADIOBUTTON" function="OnUpdatePreview" />
                                        </object>
                                    </object>
                                    <object class="sizeritem">
                                        <option>1</option>
                                        <border>5</border>
                                        <flag>wxALIGN_CENTER</flag>
                                        <object class="wxBoxSizer" variable="BoxSizer4" member="yes">
                                            <orient>wxHORIZONTAL</orient>
                                            <object class="spacer">
                                                <size>20,1</size>
                                                <border>5</border>
                                                <flag>wxALL|wxALIGN_CENTER</flag>
                                            </object>
                                            <object class="sizeritem">
                                                <option>1</option>
                                                <border>5</border>
                                                <flag>wxALIGN_CENTER</flag>
                                                <object class="wxFlexGridSizer" variable="FlexGridSizer2" member="yes">
                                                    <rows>0</rows>
                                                    <cols>2</cols>
                                                    <vgap>0</vgap>
                                                    <hgap>0</hgap>
                                                    <object class="sizeritem">
                                                        <option>1</option>
                                                        <border>5</border>
                                                        <flag>wxLEFT|wxTOP|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
                                                        <object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
                                                            <label>Art Id:</label>
                                                        </object>
                                                    </object>
                                                    <object class="sizeritem">
                                                        <option>1</option>
                                                        <border>5</border>
                                                        <flag>wxLEFT|wxRIGHT|wxTOP|wxALIGN_CENTER|wxEXPAND</flag>
                                                        <object class="wxComboBox" name="ID_COMBOBOX2" variable="ArtId" member="yes">
                                                            <handler entry="EVT_COMBOBOX" function="OnArtIdSelect" />
                                                        </object>
                                                    </object>
                                                    <object class="sizeritem">
                                                        <option>1</option>
                                                        <border>5</border>
                                                        <flag>wxLEFT|wxTOP|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
                                                        <object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
                                                            <label>Art Client:</label>
                                                        </object>
                                                    </object>
                                                    <object class="sizeritem">
                                                        <option>1</option>
                                                        <border>5</border>
                                                        <flag>wxLEFT|wxRIGHT|wxTOP|wxALIGN_CENTER|wxEXPAND</flag>
                                                        <object class="wxComboBox" name="ID_COMBOBOX1" variable="ArtClient" member="yes">
                                                            <handler entry="EVT_COMBOBOX" function="OnArtIdSelect" />
                                                        </object>
                                                    </object>
                                                </object>
                                            </object>
                                        </object>
                                    </object>
                                </object>
                            </object>
                        </object>
                    </object>
                    <object class="sizeritem">
                        <option>1</option>
                        <border>5</border>
                        <flag>wxALL|wxALIGN_CENTER|wxEXPAND</flag>
                        <object class="wxStaticBoxSizer" variable="StaticBoxSizer2" member="yes">
                            <orient>wxHORIZONTAL</orient>
                            <label>Preview</label>
                            <object class="sizeritem">
                                <option>1</option>
                                <border>5</border>
                                <flag>wxALL|wxALIGN_CENTER|wxEXPAND</flag>
                                <object class="wxStaticBitmap" name="ID_STATICBITMAP1" variable="Preview" member="yes">
                                    <bitmap />
                                    <size>200,200</size>
                                </object>
                            </object>
                        </object>
                    </object>
                </object>
            </object>
            <object class="sizeritem">
                <border>5</border>
                <flag>wxALL|wxALIGN_CENTER</flag>
                <object class="wxBoxSizer" variable="BoxSizer3" member="yes">
                    <orient>wxHORIZONTAL</orient>
                    <object class="sizeritem">
                        <border>5</border>
                        <flag>wxLEFT|wxTOP|wxBOTTOM|wxALIGN_CENTER</flag>
                        <object class="wxButton" name="ID_BUTTON1" variable="Button1" member="yes">
                            <label>OK</label>
                            <default>1</default>
                            <handler entry="EVT_BUTTON" function="OnButton1Click" />
                        </object>
                    </object>
                    <object class="sizeritem">
                        <border>5</border>
                        <flag>wxALL|wxALIGN_CENTER</flag>
                        <object class="wxButton" name="wxID_CANCEL" variable="Button2" member="yes">
                            <label>Cancel</label>
                        </object>
                    </object>
                </object>
            </object>
        </object>
    </object>
</wxsmith>
