<wxsmith>
    <object class="wxDialog" name="wxsFontFaceEditorDlg">
        <title>Selecting font face</title>
        <centered>1</centered>
        <style>wxDEFAULT_DIALOG_STYLE</style>
        <object class="wxBoxSizer" variable="BoxSizer1" member="yes">
            <orient>wxVERTICAL</orient>
            <object class="sizeritem">
                <option>1</option>
                <border>5</border>
                <flag>wxLEFT|wxRIGHT|wxALIGN_CENTER|wxEXPAND</flag>
                <object class="wxStaticBoxSizer" variable="StaticBoxSizer1" member="yes">
                    <orient>wxHORIZONTAL</orient>
                    <label>Face name</label>
                    <object class="sizeritem">
                        <option>1</option>
                        <border>3</border>
                        <flag>wxLEFT|wxBOTTOM|wxALIGN_CENTER</flag>
                        <object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="FaceName" member="yes">
                            <value />
                        </object>
                    </object>
                    <object class="sizeritem">
                        <border>3</border>
                        <flag>wxRIGHT|wxBOTTOM|wxALIGN_CENTER|wxEXPAND</flag>
                        <object class="wxButton" name="ID_BUTTON1" variable="Button1" member="yes">
                            <label>Pick</label>
                            <handler entry="EVT_BUTTON" function="OnButton1Click" />
                            <style>wxBU_EXACTFIT</style>
                        </object>
                    </object>
                </object>
            </object>
            <object class="sizeritem">
                <border>5</border>
                <flag>wxLEFT|wxRIGHT|wxALIGN_CENTER</flag>
                <object class="wxBoxSizer" variable="BoxSizer2" member="yes">
                    <orient>wxHORIZONTAL</orient>
                    <object class="spacer">
                        <size>60,1</size>
                        <option>1</option>
                        <border>5</border>
                        <flag>wxALIGN_CENTER</flag>
                    </object>
                    <object class="sizeritem">
                        <border>5</border>
                        <flag>wxALL|wxALIGN_CENTER</flag>
                        <object class="wxButton" name="wxID_OK" variable="Button2" member="yes">
                            <label>OK</label>
                            <default>1</default>
                            <handler entry="EVT_BUTTON" function="OnButton2Click" />
                        </object>
                    </object>
                    <object class="sizeritem">
                        <border>5</border>
                        <flag>wxRIGHT|wxTOP|wxBOTTOM|wxALIGN_CENTER</flag>
                        <object class="wxButton" name="wxID_CANCEL" variable="Button3" member="yes">
                            <label>Cancel</label>
                        </object>
                    </object>
                    <object class="spacer">
                        <option>1</option>
                        <border>5</border>
                        <flag>wxALIGN_CENTER</flag>
                    </object>
                </object>
            </object>
        </object>
    </object>
</wxsmith>
