<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="ProjectOptionsManipulatorDlg">
		<title>Project Options Plugin</title>
		<style>wxDEFAULT_DIALOG_STYLE|wxRESIZE_BORDER</style>
		<object class="wxBoxSizer" variable="bszMainH" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="bszScan" member="no">
					<object class="sizeritem">
						<object class="wxStaticText" name="wxID_ANY" variable="lblScanWithin" member="no">
							<label>Scan within:</label>
						</object>
						<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxChoice" name="ID_CHO_SCAN" variable="m_ChoScan" member="yes">
							<content>
								<item>Workspace</item>
								<item>Project</item>
							</content>
							<selection>0</selection>
							<handler function="OnScanSelect" entry="EVT_CHOICE" />
						</object>
						<flag>wxLEFT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="wxID_ANY" variable="lblScanColon" member="no">
							<label>:</label>
						</object>
						<flag>wxLEFT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxChoice" name="ID_CHO_SCAN_PROJECTS" variable="m_ChoScanProjects" member="yes">
							<enabled>0</enabled>
						</object>
						<flag>wxLEFT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxTOP|wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="flsOptions" member="no">
					<cols>3</cols>
					<growablecols>1</growablecols>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="bszOperation" member="no">
							<orient>wxVERTICAL</orient>
							<object class="sizeritem">
								<object class="wxRadioBox" name="ID_RBO_OPERATION" variable="m_RboOperation" member="yes">
									<label>Operation:</label>
									<content>
										<item>Search for option present</item>
										<item>Search for option NOT present</item>
										<item>Remove option</item>
										<item>Add option</item>
										<item>Change option</item>
										<item>Remove files w/o target</item>
									</content>
									<handler function="OnOperationSelect" entry="EVT_RADIOBOX" />
								</object>
								<flag>wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
								<border>5</border>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="wxID_ANY" variable="lblOptionsLevel" member="no">
									<label>Search for option:</label>
								</object>
								<flag>wxTOP|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
							</object>
							<object class="sizeritem">
								<object class="wxChoice" name="ID_CHO_OPTIONS_LEVEL" variable="m_ChoOptionsLevel" member="yes">
									<content>
										<item>At project level</item>
										<item>At target level</item>
										<item>At project and target level</item>
									</content>
									<selection>2</selection>
								</object>
								<flag>wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
							</object>
						</object>
						<flag>wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxStaticBoxSizer" variable="sbsItem" member="no">
							<label>Search item:</label>
							<orient>wxVERTICAL</orient>
							<object class="sizeritem">
								<object class="wxStaticText" name="wxID_ANY" variable="lblOptionSearch" member="no">
									<label>Option/Var (i.e. -Wl,--no-undefined):</label>
								</object>
								<flag>wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
							</object>
							<object class="sizeritem">
								<object class="wxTextCtrl" name="ID_TXT_OPTIONS" variable="m_TxtOptionSearch" member="yes">
									<tooltip>This is the compiler/linker option or path, linker lib or custom var to search for...</tooltip>
								</object>
								<flag>wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="wxID_ANY" variable="lblOptionReplace" member="no">
									<label>Replace with:</label>
								</object>
								<flag>wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
							</object>
							<object class="sizeritem">
								<object class="wxTextCtrl" name="TD_TXT_OPTION_REPLACE" variable="m_TxtOptionReplace" member="yes">
									<enabled>0</enabled>
								</object>
								<flag>wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
							</object>
							<object class="sizeritem">
								<object class="wxCheckBox" name="ID_CHK_OPTION_REPLACE_PATTERN" variable="m_ChkOptionReplacePattern" member="yes">
									<label>Replace only search pattern</label>
									<enabled>0</enabled>
									<tooltip>Either only the search pattern (strin) is replaced within the option&#x0A;or the whole options is replaced with the string to replace with.</tooltip>
								</object>
								<flag>wxTOP|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
							</object>
							<object class="sizeritem">
								<object class="wxRadioBox" name="ID_RBO_SEARCH" variable="m_RboSearch" member="yes">
									<label>When searching...</label>
									<content>
										<item>Search for &quot;equals option&quot;</item>
										<item>Search for &quot;contains option&quot;</item>
									</content>
								</object>
								<flag>wxTOP|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
								<border>5</border>
							</object>
						</object>
						<flag>wxLEFT|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticBoxSizer" variable="sbsScope" member="no">
							<label>Search scope:</label>
							<orient>wxVERTICAL</orient>
							<object class="sizeritem">
								<object class="wxCheckBox" name="ID_CHK_OPTIONS_COMPILER" variable="m_ChkOptionsCompiler" member="yes">
									<label>Compiler options</label>
									<checked>1</checked>
								</object>
								<flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
							</object>
							<object class="sizeritem">
								<object class="wxCheckBox" name="ID_CHK_OPTIONS_LINKER" variable="m_ChkOptionsLinker" member="yes">
									<label>Linker options</label>
								</object>
								<flag>wxTOP|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
							</object>
							<object class="sizeritem">
								<object class="wxCheckBox" name="ID_CHK_OPTIONS_RES_COMPILER" variable="m_ChkOptionsResCompiler" member="yes">
									<label>Resource compiler options</label>
								</object>
								<flag>wxTOP|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
							</object>
							<object class="sizeritem">
								<object class="wxCheckBox" name="ID_CHK_OPTIONS_COMPILER_PATH" variable="m_ChkOptionsCompilerPath" member="yes">
									<label>Compiler path&apos;s</label>
								</object>
								<flag>wxTOP|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
							</object>
							<object class="sizeritem">
								<object class="wxCheckBox" name="ID_CHK_OPTIONS_LINKER_PATH" variable="m_ChkOptionsLinkerPath" member="yes">
									<label>Linker path&apos;s</label>
								</object>
								<flag>wxTOP|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
							</object>
							<object class="sizeritem">
								<object class="wxCheckBox" name="ID_CHK_OPTIONS_RES_COMP_PATH" variable="m_ChkOptionsResCompPath" member="yes">
									<label>Resource compiler path&apos;s</label>
								</object>
								<flag>wxTOP|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
							</object>
							<object class="sizeritem">
								<object class="wxCheckBox" name="ID_CHK_OPTIONS_LINKER_LIBS" variable="m_ChkOptionsLinkerLibs" member="yes">
									<label>Linker libs</label>
								</object>
								<flag>wxTOP|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
							</object>
							<object class="sizeritem">
								<object class="wxBoxSizer" variable="bszCustomVar" member="no">
									<object class="sizeritem">
										<object class="wxCheckBox" name="ID_CHK_OPTIONS_CUSTOM_VAR" variable="m_ChkOptionsCustomVar" member="yes">
											<label>Custom var =</label>
										</object>
										<flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
									</object>
									<object class="sizeritem">
										<object class="wxTextCtrl" name="ID_TXT_CUSTOM_VAR" variable="m_TxtCustomVar" member="yes">
											<tooltip>This is the value to set set for the custom var, if &quot;add option&quot; is chosen</tooltip>
										</object>
										<flag>wxLEFT|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
							</object>
						</object>
						<flag>wxLEFT|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
						<border>5</border>
					</object>
				</object>
				<flag>wxTOP|wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStdDialogButtonSizer" variable="sbzOKCancel" member="no">
					<object class="button">
						<object class="wxButton" name="wxID_OK">
							<label></label>
						</object>
					</object>
					<object class="button">
						<object class="wxButton" name="wxID_CANCEL">
							<label></label>
						</object>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
			</object>
		</object>
	</object>
</wxsmith>
