/* ------------------------------------ *
 CSS
 Lunes, 18 de Julio de 2005 11:59:32 p.m.
 HAPedit 3.1.11.111
 * ------------------------------------ */


/* ---------------- position, size, margins, paddings ----------------- */

/* --- general styles ---  */
.topblock { padding:4px 4px 0; }
div.topblock { margin:0 0.5em 8px; }
.subblock { margin:0.5em auto;padding:0.5em 0.5em; }
html { margin:0;padding:0; }
body { margin:0;padding:0.5em 0.25em; }

table.maintable td.main { vertical-align:top; }
.clearboth { clear:both; }
br.clearboth { line-height:0;margin:0; }
.right { float:right;margin-left:0.8em;margin-top:0.5em;margin-bottom:0.5em;text-align:center; }
.left { float:left;margin-right:0.8em;margin-top:0.5em;margin-bottom:0.5em;text-align:center; }
.center { display:block;margin-left:auto;margin-right:auto; }
.caption { font-size:0.8em; }

ul.bullet li { list-style-image:url(/img/codeblocks_bullet.jpg); }
ul.nobullet li { list-style-image:none; }
.withhints { cursor:help; }
/* --- particular styles ---  */

#mainhdr { width:auto; }
#mainhdr .topblock { margin-bottom:0; }

.navblock { width:auto;padding:0 8px;margin:0; }
.navblock ul { padding-left:8px;margin-left:0; }
* html .navblock ul { padding-left:16px; }
* html .navblock ul li ul { padding-left:8px; }
.navblock > * > ul { padding-left:16px; }
.navblock ul li { list-style-type:none;margin:0; }
.navblock ul li a { display:block;padding:0 0; margin:0; }
* html .navblock ul li a { display:inline;padding:0;margin:0; }

#mainblock { width:auto;margin-bottom:0;padding:1em 1.5%; }
#mainblock h1 { margin-top:0;margin-bottom:0;border-bottom:1px solid #000; }
#mainblock h2 { border-bottom:1px solid #000; }
.navblock h2 { margin:0 auto 0.5em; }
#adsblock { width:auto; }

#mainhdr table.maintable { margin:0;padding:0;width:100%;table-layout:auto; }
#mainhdr table.maintable td { vertical-align:middle; }
#mainhdr #toplogo { display:block; }
#mainhdr .subtitle { display:block;text-align:center; }
#mainhdr #builtwith { display:block; }

ul#topnav { display:block;margin:2px 1em 4px;width:auto;text-align:right; }
ul#topnav li { list-style-type:none;display:inline;padding:0 8px; }
ul#topnav a { text-decoration:none; }

#footer { margin-top:0;padding:4px 8px; }

.section { margin-left:2em; }

/* -------------------------- page fonts and colors ------------------------ */

body {background-color: #37c;font-family:Tahoma,Arial,Sans-serif; }
.topblock,.subblock { border:1px solid #66c;background-color:#fff; -moz-border-radius:12px; -khtml-border-radius:12px; }
.topblock img,#mainhdr img { border:none; }
img.right,img.left { border:1px solid #000; }

#mainhdr .subtitle { font:bold 1.2em Tahoma,Arial,Sans-serif; }
#mainhdr hr { color:#66c; }

ul#topnav { font:bold 0.9em Arial,Sans-serif; }

#mainblock { font-family:Arial,Sans-serif; }
#mainblock h1 { font:bold 1.5em Verdana,Arial,Sans-serif; }
#mainblock h2 { font:bold 1.5em Arial,Sans-serif; }
#mainblock h3 { font:bold 1.1em Arial,Sans-serif;color:#009; }
#mainblock h5 { margin-bottom:0.5em; }
#mainblock h5 + p { margin-top:0; }
#mainblock em { font-weight:bold;color:#009; }

.navblock { background-color:#dde;font-size:0.9em; }
.navblock h2 { font-size:1.2em;font-weight:bold;padding-left:0.5em; }
.navblock h3 { font-size:1.1em;font-weight:bold;margin:0.5em auto 0.25em; }
.navblock a { color:#000;text-decoration:none; }
/* * html .navblock a:hover { background-color:#dde; } */
* html .navblock a:hover { list-style-image:url(/img/codeblocks_bullet.jpg); }

.navblock ul li:hover { list-style-image:url(/img/codeblocks_bullet.jpg); }
.navblock ul li:hover ul li { list-style-image:none; }
.navblock ul li ul li:hover { list-style-image:url(/img/codeblocks_bullet.jpg); }

ul#topnav a:link, ul#topnav a:visited { color:#00b; }
ul#topnav a:hover { color:#000; }
ul#topnav a:hover { background-color:#ccf; }
ul#topnav li.first a:hover,ul#topnav li.fifth a:hover { background-color:#fcc; }
ul#topnav li.second a:hover,ul#topnav li.sixth a:hover { background-color:#aea; }
ul#topnav li.third a:hover { background-color:#ffc; }

#adsblock { font-size:0.9em; }
#adsblock div.center { width:122px; }
#adsblock p.center img { display:block;margin:0 auto; }

#footer { background-color:#dde; font-size:0.8em;text-align:center; }