<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="ConfigPanel">
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxBoxSizer" variable="bszMain" member="no">
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="flsMain" member="no">
					<cols>2</cols>
					<growablecols>1</growablecols>
					<object class="sizeritem">
						<object class="wxStaticText" name="wxID_ANY" variable="lblCppCheckApp" member="no">
							<label>CppCheck application:</label>
						</object>
						<flag>wxLEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="bszCppCheckApp" member="no">
							<object class="sizeritem">
								<object class="wxTextCtrl" name="ID_TXT_CPP_CHECK_APP" variable="txtCppCheckApp" member="yes">
									<value>cppcheck</value>
								</object>
								<flag>wxLEFT|wxEXPAND</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxButton" name="ID_BTN_CPPCHECK_APP" variable="btnCppCheckApp" member="no">
									<label>...</label>
									<minsize>30,-1</minsize>
									<handler function="OnCppCheckApp" entry="EVT_BUTTON" />
								</object>
								<flag>wxLEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
							</object>
						</object>
						<flag>wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="wxID_ANY" variable="lblCppCheckArgs" member="no">
							<label>CppCheck arguments:</label>
						</object>
						<flag>wxTOP|wxLEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="ID_TXT_CPP_CHECK_ARGS" variable="txtCppCheckArgs" member="yes">
							<value>--verbose --enable=all --enable=style --xml</value>
						</object>
						<flag>wxTOP|wxLEFT|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="wxID_ANY" variable="lblCppCheckArgsComment" member="no">
							<label>(before &quot;--file-list&quot;)</label>
						</object>
						<flag>wxLEFT|wxALIGN_TOP</flag>
						<border>5</border>
					</object>
					<object class="spacer">
						<flag>wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
