[Desktop Entry]
Version=1.0
Type=Application
Name=Code::Blocks IDE
GenericName=Integrated development environment
Comment=Configurable and extensible IDE
Exec=codeblocks %F
Icon=codeblocks
Terminal=false
X-MultipleArgs=false
Categories=Development;IDE;GTK;
StartupNotify=true
MimeType=application/x-codeblocks;application/x-codeblocks-workspace;
